
.bg-box{
    width: 1425px;
    height: 700px;
        background-color: green;
            background-image: url(./images/pole-zelen-trava-dom-derevya.webp),url(./images/lamp-png-34914.png),url(./images/donut.png),url(./images/green-png-44873.png),url(./images/Ёжик.png);
            background-repeat: no-repeat,repeat-x,repeat-y,repeat-x,repeat-y;
            background-position: center;
            background-size: auto;
            
}

